.tasksTitle {
    color: #a33e67;
    display: flex;
    justify-content: center;
    position: relative;
}
.taskSection {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.taskSectionTaskName {
    text-align: start;
    padding-left: 10px;
    color: rgb(189, 185, 185);
    width: 135px;
}
.taskMenu {
    display: flex;
    margin-top: 10px;
    background-color: #f5f0ff;
    padding: 10px 3px 10px 3px;
    border-radius: 2px;
}
/* .gradientUnderline {
    background-image: linear-gradient(transparent, transparent),linear-gradient(transparent, transparent),linear-gradient(to right, #d98ea6, #7c5a9d);
    background-repeat: no-repeat;
    background-position: 0, 0, 0 110%;
    background-size: 120% 8px;
} */
.tasksTitle::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 5px;
    border-radius: 2px;
    background: linear-gradient(111.3deg, #d98ea6 9.6%, #7c5a9d 93.6%);
}
h1, h2, h3, h4, h5 {
    font-size: 30px;
    color: #a33e67;
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 40px;
}
h1::before, h2::before, h3::before, h4::before, h5::before  {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 5px;
    border-radius: 2px;
    background: linear-gradient(111.3deg, #d98ea6 9.6%, #7c5a9d 93.6%);
}
.taskSectionTaskName {
    background-color: transparent;
    border:none;
    color: #a33e67;
    font-weight: bold;
}
