body {
    font-family: 'Joan', serif;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
header {
    display: flex;
    flex-direction: column;
}
main {
    display: flex;
    flex-direction: column;
}
input {
    background-color: #f5f0ff;
    border: none;
}
.gradientUnderline {
    background-image: linear-gradient(transparent, transparent),linear-gradient(transparent, transparent),linear-gradient(to right, #d98ea6, #7c5a9d);
    background-repeat: no-repeat;
    background-position: 0, 0, 0 110%;
    background-size: 120% 8px;
}
