.taskContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
}
ul li {
    list-style-type: none;
}
.taskBtn {
    border: none;
    font-weight: bold;
    background-color: transparent;
}
.editBtn {
    color: #f4989a;
}
.importantBtn {
    color: #5f4984;
}
.doneBtn {
    color: #49746a;
}
.deleteBtn {
    color: #813f31;
}