.headerTitle {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #a33e67
}
.headerTaskContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.headerTaskName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35px;
    width: 235px;
}
.inputStyle {
    text-align: center;
    border-radius: 3px;
}
.gradientUnderline {
    background-image: linear-gradient(transparent, transparent),linear-gradient(transparent, transparent),linear-gradient(to right, #d98ea6, #7c5a9d);
    background-repeat: no-repeat;
    background-position: 0, 0, 0 110%;
    background-size: 120% 8px;
}
.headerAddTaskBtn {
    background: none;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    background: -webkit-linear-gradient(#d98ea6, #7c5a9d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}