.mainSearchTitle {
    font-size: 30px;
    color: #a33e67;
    display: flex;
    justify-content: center;
}
.searchContainer {
    display: flex;
    justify-content: center;
}
.mainSearchBar {
    height: 30px;
    width: 175px;
    text-align: center;
}
.gradientUnderline {
    background-image: linear-gradient(transparent, transparent),linear-gradient(transparent, transparent),linear-gradient(to right, #d98ea6, #7c5a9d);
    background-repeat: no-repeat;
    background-position: 0, 0, 0 110%;
    background-size: 120% 8px;
}
.searchBtnStyle {
    background-color: #f6989a;
    border-style: none;
    border-radius: 10%;
    margin-left: 8px;
    font-weight: bold;
    color: #8e649f;
}